@model Travel_Agency.Models.Leg

<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Details Of Leg</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script>
    $(document).ready(function(){

        var startLoc = '@Model.StartLocation';
        var endLoc = '@Model.FinishLocation'

        $.getJSON({
            url: "http://en.wikipedia.org/w/api.php?action=query&format=json&callback=test&prop=langlinks&lllimit=500&titles=kaas&generator=images&titles=" + startLoc +"&prop=info",
            success: function (data) {
                alert("success");
                alert(data);
            },
            error: function (data) {
                alert("error")
                alert(data);
            }
        });

        //$.getJSON("http://en.wikipedia.org/w/api.php?action=query&format=json&callback=test&prop=langlinks&lllimit=500&titles=kaas&generator=images&titles=" + startLoc + "&prop=info")
        //    .done(function (data) {
        //        alert(data[1].images[0]);

        //    });
    

    });
    
</script>
