@model IEnumerable<Travel_Agency.Models.Leg>
@{
    Nullable<DateTime> endOfLastLeg = null;
    bool ok = true;
    int legCount = 0;
    bool gaps = true;  
}
@if (Model.Any())
{
    <div id="loader1" class="text-center" style="display: none;">
        Loading...<img src="~/Images/ajax-loading.gif" />
    </div>
    <table class="table table-bordered table-condensed">
        <tr>
            <th>
                Start Location
            </th>
            <th>
                Finish Location
            </th>
            <th>
                Start Date
            </th>
            <th>
                Finish Date
            </th>
            <th>
                Guests
            </th>            
            <th></th>
        </tr>
        @foreach (var item in Model)
        {            
            legCount ++;
            if (endOfLastLeg == null)
            {
                endOfLastLeg = item.Trip.StartDate.Date;
            }//end if

            if (!ok)
            {
                endOfLastLeg = item.StartDate.Date;
            }

            if (item.StartDate.Date != endOfLastLeg && item.FinishDate.Date < item.Trip.FinishDate.Date && item.Trip.Legs.Count == 1)
            {
                Html.RenderPartial("_EmptyLeg");
                Html.RenderPartial("_LegOk", item);
                gaps = false;
            }

            else if (item.StartDate.Date != endOfLastLeg && item.FinishDate.Date < item.Trip.FinishDate.Date && item.Trip.Legs.Count == legCount && item.Trip.Legs.Count != 1)
            {
                Html.RenderPartial("_EmptyLeg");
                ok = false; 
            }//end if
                
            else if (legCount == Model.Count() && item.FinishDate.Date == item.Trip.FinishDate.Date && item.StartDate.Date != endOfLastLeg.Value.Date)
            {
                Html.RenderPartial("_EmptyLeg");
                Html.RenderPartial("_LegOk", item);
                gaps = false;	        
	        }
                
            else if (item.StartDate.Date != endOfLastLeg && item.FinishDate.Date < item.Trip.FinishDate.Date && legCount < item.Trip.Legs.Count)
            {
                Html.RenderPartial("_EmptyLeg");
                Html.RenderPartial("_LegOk", item);
                gaps = false;            
	        }
                                    
            else 
            {
                Html.RenderPartial("_LegOk", item); 
            }//end else

            if (legCount == Model.Count() && item.FinishDate.Date != item.Trip.FinishDate.Date)
            {
                Html.RenderPartial("_EmptyLeg");
                ok = false;
                gaps = false; 
            }
            
            if (ok)
            {
                endOfLastLeg = item.FinishDate.AddDays(1).Date;
            }
            

        }@*end foreach*@
    </table>
}
else //if the trip has no legs
{
    <table class="table table-bordered table-condensed">
        <tr>
            <th>
                Start Location
            </th>
            <th>
                Finish Location
            </th>
            <th>
                Guests
            </th>            
            <th></th>
        </tr>
        <tr>
            @{Html.RenderPartial("_EmptyLeg");}
        </tr>
        </table>
}
<div id="legCreate"></div>
<div id="guestModal"></div>


    <script>

        $(document).ready(function () {
            if ('@Model.Any()' == 'False') {
                toastr.error('This Trip Has No Legs');
            }
            else if ('@gaps' == 'False') {
                toastr.warning("This Trip Has Gaps");
            }
            else {
                toastr.success('All ' + @legCount + ' Legs Retrieved');
            }
            
        });

        $("#legName").text("Legs For: " + '@ViewBag.tripname');

        function AddLeg(id) {            
            $.ajax({
                url: '@Url.Action("Create", "Legs")',
                data: { id: id },
                success: function (data) {
                    $("#legCreate").html(data);
                    $("#legModal").modal('show');
                }
            })
        }
                
        
    </script>

