@model IEnumerable<Travel_Agency.Models.Trip>

<table class="table table-condensed table-bordered">
    <tr>
        <th>
            Name
        </th>
        <th>
            Start Date
        </th>
        <th>
            Finish Date
        </th>
        <th>
            Min Guests
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {

        if (item.Viable && item.Complete)
        {            
            <tr class="success">
                @{Html.RenderPartial("_TripRows", item);}                
            </tr>
        }
        else if (!item.Viable && !item.Complete)
        {
            <tr class="danger">
                @{Html.RenderPartial("_TripRows", item);}                
            </tr>
        }
        else
        {
            <tr class="warning">
                @{Html.RenderPartial("_TripRows", item);}                
            </tr>
        }

    }
</table>
<div class="row">
    <button onclick="AddTrip()" class="btn btn-primary btn-sm col-sm-2">Add Trip</button>
    </div>
<div class="row">
    <h6 class="col-sm-4">Trip Viable And Complete<span class="label label-success ">     </span></h6>
    <h6 class="col-sm-4">Trip Not Viable <strong>Or</strong> Not Complete<span class="label label-warning ">     </span></h6>
    <h6 class="col-sm-4">Trip Not Viable <strong>And</strong> Not Complete<span class="label label-danger">     </span></h6>
</div>
<div id="tripCreate"></div>

<script>
    function AddTrip() {
        $("#loader1").css('display', 'block');
        $.ajax({
            url: '@Url.Action("Create", "Trips")',
            success: function (data) {
                $("#tripCreate").html(data);
                $("#tripModal").modal('show');
                $("#loader1").css('display', 'none');
            }
        })
    }
</script>