@model IEnumerable<Travel_Agency.Models.Trip>

@{
    ViewBag.Title = " Available Trips";
}

@section scripts
{
    <script>

        $(document).ready(function () {
            toastr.success('All ' + @Model.Count() + ' Trips Retrieved');
        });

        function GetLegs(TripId) {            
            alert("gotin");
            $.ajax({
                url: '@Url.Action("GetLegs", "Legs")',
                data: { id: TripId },
                success: function (data) {
                    $("#tblTripLegs").html(data);
                }
            })
        }

    $("#createT").click(function () {
                
        var newTrip = {
            Name: $("#Name").val(),
            StartDate: $("#StartDate").val(),
            FinishDate: $("#FinishDate").val(),
            MinGuests: $("#MinGuests").val()
        };
        sendTrip(newTrip);
    });            

    function sendTrip(t) {
                
        $.ajax({
            url: "api/TripApi/Post",
            data: JSON.stringify(t),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                window.location.href = ("/Home/Index");
            },
            error: function (error) {
            }
        });

    }
    
    </script>
}


<div class="page-header">
    <h1>A Wing And A Prayer Travel</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading"><strong>Available Trips</strong></div>
            <div class="panel-body" id="tblTrips">
                @{Html.RenderPartial("_Trips", Model);}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading"><strong id="legName">Legs For ....</strong></div>
            <div class="panel-body" id="tblTripLegs">                
            </div>
        </div>
    </div>    
</div>
<div id="guestModal"></div>
<div id="legDetail"></div>



