@model s00009509.Employee

@*Check if Reports To is null*@
@{
    string s = "";
    s = Model.ReportsTo != null ? String.Format("{0} {1}", Model.Employee1.FirstName, Model.Employee1.LastName) : String.Format("N/A");
}

<div id="effect" class="ui-widget-content ui-corner-all" style="margin-top: 200px">
    <h3 class="ui-widget-header ui-corner-all">Employee Details:</h3>
    <br />
    <p>
        <strong>ID: </strong>@Model.EmployeeID
        <br />
        <strong>Name: </strong>@String.Format("{0} {1}", Model.FirstName, Model.LastName)
        <br />
        <strong>Total Orders: </strong>@String.Format("{0}", Model.Orders.Count)
        <br />
        <strong>Reports To: </strong>@s

    </p>

    <p>
        @Ajax.ActionLink("View " + Model.FirstName + "'s Orders", "EmpIndex", "Home", new { employeeId = Model.EmployeeID },
                         new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "OrderList", LoadingElementId = "loader1" },
                         new { @class = "btn btn-md btn-success" })

    </p>
</div>

<script>

    $(document).ready(function () {

        $("#effect").effect("bounce", "", 300, "");

    })

</script>
